<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>App</title>
</head>

<body>

  <div class="app">
    <h3>
      Companies List
    </h3>
    <button id="addCompany">new company</button>
    <table class="nice-table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (let company of companies) { %>
          <tr>
            <td>
              <%= company.realmId %>
            </td>
            <td>
              <a href="#">update</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

  <script src="/js/script.js"></script>
</body>

</html>