<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS, Sass, and TypeScript Boilerplate</title>
  <%- include('../partials/links') %>
</head>

<body>
  <div class="container mt-5" style="width: 400px;">
    <h4 class="mb-3">
      Accounts List
    </h4>
    <a href="#" id="addCompany" class="btn btn-primary mb-3">Add Company</a>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Accounts</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        <% for (let account of accounts) { %>
          <tr>
            <td>
              <%= account.username %>
            </td>
            <td>
              <a href="/api/accounts/<%= account.sub %>">companies</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>