<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS, Sass, and TypeScript Boilerplate</title>
    <%- include('../partials/links') %>
  </head>

  <body>
    <div class="container mt-5" style="width: 400px">
      <h4 class="mb-3">Accounts List</h4>
      <a href="#" id="addCompany" class="btn btn-primary mb-3">Add Company</a>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Accounts</th>
          </tr>
        </thead>
        <tbody>
          <% for (let account of accounts) { %>
          <tr>
            <td>
              <a href="/api/accounts/<%= account.id %>">
                <%= account.username %>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <a href="/api/user/logout" class="logout-btn btn btn-dark">logout</a>
    <script type="module">
      import { fetchData } from "/js/helpers.js";
      console.log("hello from accounts.ejs");
      window.onload = async () => {
        console.log("window loaded");
        const addCompany = document.querySelector("#addCompany");
        const {
          data: { authUri },
        } = await fetchData("/api/quickbooks/auth");
        addCompany.href = authUri;
      };
    </script>
  </body>
</html>
