<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS, Sass, and TypeScript Boilerplate</title>
    <%- include('../partials/links') %>
  </head>

  <body>
    <main class="m-4">
      <h3>realmId: <% company.realmId %></h3>
    </main>
  </body>
</html>
